node_modules/
.env
# Hardhat files
/cache
/artifacts

# zksync artifacts
artifacts-zk
cache-zk

# TypeChain files
/typechain
/typechain-types
deployments/

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
.DS_Store
